<header class="header container-fluid">
  <nav class="container header__nav">
    <ul class="header__nav__ul">
      <li class="header__nav__item"><a href="/" class="header__nav__link" title="Go to Home">Home</a></li>
      <li class="header__nav__item"><a href='{{ "movies/" | relURL }}' class="header__nav__link" title="Go to Movies">Movies</a></li>
      <li class="header__nav__item"><a href='{{ "timeline/" | relURL }}' class="header__nav__link" title="Go to Timeline">Timeline</a></li>
      <li class="header__nav__item"><a href='{{ "universe/" | relURL }}' class="header__nav__link" title="Go to Universe">Universe</a></li>
    </ul>
  </nav>

  <div class="header__cover animatedParent animateOnce">
    <div class="animated FadeIn delay-250">
      <img src='{{ "images/logo-marvel-studios.png" | relURL }}' class="img-fluid" alt="Logo Marvel Studios">
    </div>
    <div class="animated FadeIn delay-750">
      <h1 class="header__cover__title">Database of the Marvel cinematic universe</h1>
    </div>
  </div>

  <div class="header__arrow">
  </div>
</header>
	