{{ define "header" }}
  {{ partial "header-pages" . }}
{{ end }}

{{ define "main" }}
	<main class="container single-page">
		<section class="row">
			<header class="col-12">
				<!-- {{.FirstSection.Title}} -->
				<h1>{{.FirstSection.Title}}</h1>
			</header>
			<div class="col-12 text-big">
				{{.Content}}
			</div>
		</section>

		<section class="row animatedParent" data-sequence="150">
			{{ $counter := 0 }}
			{{ range .Site.Data.timeline  }}
				{{ $counter = add $counter 1 }}
				<div class="col-6 col-md-3 col-lg-2 list-item animated fadeInUpShort" data-id='{{ $counter }}'>
					<a href="/{{.url}}" title="Go to movie info">
						<div class="slick-responsive__img-wrap slick-responsive__img-wrap--list">
							<div class="slick-responsive__img">
								<img src="{{.poster}}" alt="Poster {{ .name }}" class="img-fluid">
							</div>
						</div>
						{{ .name }} <br><small>{{.release}}</small>
					</a>
				</div>
			{{ end }}
		</section>
	</main>
{{ end }}